{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Красивый сайт</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

  <div class="container">
    <h1>Привет, Django!</h1>
    <p>Это пример красивого CSS для твоего сайта.</p>

    <div class="card">
      <h2>Arman Ospanov</h2>
      <p>Frontend Developer</p>
      <button>Связаться</button>
    </div>
  </div>
{% load static %}
<script src="{% static 'js/script.js' %}"></script>

</body>
</html>
